@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Better Clock App</h1>
    <p>Check back more about what will be happening soon on how to better build a new web app!!</p>
</div>
