@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This application will not share profile Data. Profiles will be created show users can save time profiles across devices. </p>
